* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*123 The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}
.navbar {
    font-size: 20px;
    padding: 5px;
    margin: 0;
}

.navbar-brand {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.navbar-toggler {
    padding: 9px 10px !important;
}
/* The hero image */
.hero-image {
    background-image: url("../images/AdobeStock_65471228.jpeg");
    height: 100vh;
    max-height: 250px;
    min-height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    animation: title 1.2s forwards linear
  }

h1 {
    padding: 10px; 
    font-size: 35px;
    color: rgb(55, 59, 59);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 25px;
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    color: rgb(84, 138, 139);
    text-align: left;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

p {
    font-size: 15px;
    color: rgb(67, 70, 70);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
article {
  display: block;
}
footer {
    background-color: #BDC3C7;
    max-height: 60px;
    flex-shrink: 1;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pagecontainer {
    padding: 180px;
    margin-top: 180px;
    margin-bottom: 100px;
    /* background-color:gainsboro; */
}
* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background:black;
}

body {
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.pic_size {
    min-width: 50px;
}
.visuals {
    display:flex;
    flex-flow: row wrap;
}

.text-padding {
    padding-top: 5px; 
    padding-left: initial;
}
.visuals article {
    min-width: 50%;
    flex: 1;
    padding: 5px;
}

#fieldworld {
    width: 300px
}
input {
  width:100%;
  height: 24px;
  font-size: 18px;
  padding:2px;
  border:0;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      height: 100%;
    }
  }
  table {
    border-spacing: 0.5rem;
  }

  caption {
    display: table-caption;
    text-align: -webkit-center
}
  th {
    padding: 0.5rem;
    font-weight: bold;
 }
 tbody tr:nth-child(even){
    background:#ECF0F1;
  }

  tbody tr:hover{
  background:#BDC3C7;
    color:#FFFFFF;
    vertical-align: inherit
  }

  .fixed{
    top:0;
    position:fixed;
    width:auto;
    display:none;
    border:none;
  }

  .scrollMore{
    margin-top:600px;
  }

  .up{
    cursor:pointer;
  }
  #table-area th {
    text-align: center;
  }
  #table-area th:first-child,
  #table-area th:nth-child(2),
  #table-area th:nth-child(6) {
  min-width: 70px;
}
  td:nth-child { background: hsl(150, 50%, 95%); vertical-align: inherit}


  th:nth-child { background: hsl(150, 50%, 50%); vertical-align: inherit}


 .loader {
    margin-top: 50px;
  }

/* 123remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 6px 8px;
  color: #555;
  background: #fff, 0.9;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 100;
}
.legend {
  font: 14px/16px Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  width: 100px;
  /* i {
    clear: both;
    width: 16px;
    height: 16px;
    float: left;
    opacity: 0.7;
    margin-right: 8px;
  } */
}

/* .map-box {
  &.coordinates {
    position: absolute;
    top: 10px;
    right: 10px;
  } */
/* 123The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background:black;
}

.navbar {
  padding: 5px;
  margin: 0;
}
/* 123This CSS styles the ufo icon in the navbar */
.nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: white;
}
/* 123Adding styles to the aside and filter form */
.ufo-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}
/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}
/* media queries which will only be activated at specific screen sizes */
@media (max-width: 780px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    /* background: aliceblue; */
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

iframe {

align-items: middle
}
container{

align-content: middle
}

.video {

  align-items: middle
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisSteelBlue text{
  fill: steelblue;
}


.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.line-Legend {
}